{% load i18n %}
{% load static %}
{% csrf_token %}
{% load cache_bust %}
<head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="864443634019-g2ode4789suq2rdi8on0slfjb3obe0rq.apps.googleusercontent.com">
    <base href="/receipts">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="{% static 'receipts/css/receipts.css' %}?{% cache_bust %}"/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/restangular/latest/restangular.js"></script>-->

</head>
<body ng-app="ReceiptsApp" md-theme="aliTheme">
    <md-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu">
                    <md-icon md-svg-icon="{% static 'receipts/icon/menu.svg' %}"></md-icon>
                </md-button>

                <h2 flex md-truncate>Receipts App</h2>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
        </md-toolbar>
    </md-content>
    <div class="container content">
        <div ui-view >Loading...</div>
    </div>
    <script src="{% static 'receipts/js/index.js' %}?{% cache_bust %}"></script>
    <script src="{% static 'receipts/js/google.js' %}?{% cache_bust %}"></script>
</body>
