{% load i18n %}
{% load static %}
{% load cache_bust %}
{% csrf_token %}
<html ng-app="AboutApp">
    <head>
        <meta charset="utf-8">
        <base href="/about">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css"/>
    </head>
    <body md-theme="aliTheme">
        <md-content>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleMenu()" ng-controller="MenuCtrl">
                        <md-icon md-svg-icon="{% static 'about/icon/menu.svg' %}"></md-icon>
                    </md-button>

                    <h2 flex md-truncate>About Ali</h2>
                </div>
            </md-toolbar>
        </md-content>
        <section layout="row" flex>
            {% include 'menu/menu.html' %}
            <md-content class="md-padding" layout-xs="column" layout="row" ng-controller="AliCtrl">
                <div flex layout="column" layout-align="center center">
                    {% verbatim %}
                    <md-card md-theme-watch ng-repeat="album in albums" style="min-width: 600px">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{album.name}}</span>
                                <span class="md-subhead">{{album.desc}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img src="{{album.img}}">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button target="_blank" href="{{album.link}}">Open Google Photos</md-button>
                        </md-card-actions>
                    </md-card>
                    {% endverbatim %}
                </div>
            </md-content>
        </section>
        <script src="{% static 'about/js/about.js' %}?{% cache_bust %}"></script>
        <script src="{% static 'menu/js/menu.js' %}?{% cache_bust %}"></script>
    </body>
</html>