<div layout="column" layout-align="center center">
    <md-input-container class="">
        <label>Search Text</label>
        <input md-maxlength="100" md-no-asterisk name="Search Text..." ng-model="searchText">
    </md-input-container>
    <div layout="row" layout-align="center start">
        <md-table-container ng-model="selected" flex>
            <table md-table id="receipts-list">
                <thead md-head>
                <tr md-row>
                    <th md-column><span>Store</span></th>
                    <th md-column><span>Time</span></th>
                    <th md-column><span>Total Cost</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="receipts in latestReceipts" ng-click="getDetailData(receipts.id)">
                    <td md-cell>{{receipts.receipts_name}}</td>
                    <td md-cell>{{getDate(receipts.receipts_date)}}</td>
                    <td md-cell>{{getCost(receipts.total_price)}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

            <!--<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{guests.count}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>-->
            <!--</md-card>-->
        <div flex="20"></div>
        <md-table-container flex>
            <table md-table ng-model="selected" id="detail-list">
                <thead md-head>
                <tr md-row>
                    <th md-column><span>Item</span></th>
                    <th md-column><span>Quantity</span></th>
                    <th md-column><span>Cost</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="item in details">
                    <td md-cell>{{item.item_name}}</td>
                    <td md-cell>{{item.item_quantity}}</td>
                    <td md-cell>{{getCost(item.item_price)}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

            <!--<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{guests.count}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>-->
            <!--</md-card>-->
    </div>
</div>